.programs{
    margin: 80px auto;
    width: 90%;
    display: grid;
 grid-template-columns: repeat(3,1fr);
   align-items: center;
   gap: 1rem;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
   

}
.program{
 
    position: relative;
}
.caption{
   border-radius: 10px ; 
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(0, 15, 152, 0.3);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   color: #fff;
   cursor: pointer;
   opacity: 0;
   padding-top: 70%;
   transition: .5s;
}
.caption p{
    color: rgb(214, 183, 243);
    margin-top: 10px;
}
.program:hover .caption{
 opacity: 1;
 padding-top: 0;
}
/*media*/
@media (max-width:970px) {
    .programs{
        margin: 80px auto;
    
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }  
    .program img{
        width: 300px;
        border-radius: 10px;
       
    
    }
}
/*media*/
@media(max-width:760px){
    .program img{
        width: 280px;
        border-radius: 10px;
       
    
    }  
}
@media(max-width:690px){
    .program img{
        width: 250px;
        border-radius: 10px;
       
    
    } 
    .caption{
        background: none;
    }   
}

@media(max-width:600px){
    .programs{
        margin: 80px auto;
    
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
    }  
    .program img{
        width: 300px;
        border-radius: 10px;
        margin: auto;
       
    
    }  
    .caption{
        background: none;
    }    
}
@media(max-width:380px){
    .program img{
        width: 220px;
        border-radius: 10px;
        margin: auto;
       
    
    }   
}


